@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    padding: 30px;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
  }

  h1 {
    padding: 15px;
  }

  img {
    width: 50px;
    height: 50px;
    padding-top: 0;
  }

  .add-form {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  input {
    height: 30px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    color: black;
    width: 80%;
  }

  .span {
    background-color: transparent;
  }

  .add-btn {
    padding: 5px;
    border-radius: 15px;
    background-color: #0232506e;
  }

  .task-list {
    border-radius: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #050318a8;
    border: 1px solid black;
    width: 80%;
    border-radius: 30px;
  }

  .Done {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }

  .delete-all {
    display: flex;
    justify-content: center;
  }

  .btn {
    background-color: #5c0200c7;
    color: #bbafaf;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
  }
  .copy {
    background-color: #0e0505;
    padding: 8px;
    border-radius: 15px;
  }
}
